@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box; 
}
/* menu nav */
.navbar-brand :hover {
  transform:  scale(1.1);
  transition: transform 0.3s ease;
}
img, svg {
  vertical-align: middle;
  max-width: 200px;
}
.nav-link {
  color: black;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  display: flex;
  margin-right: 10px;
}
.navbar-nav {
  margin-left: auto; /* Alinear los enlaces del navbar a la derecha */
}
.navbar-brand {
  margin-right: auto; /* Alinear el logo a la izquierda */
}
.nav-link ::before { 
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  text-decoration: underline;
}
.navbar-nav .nav-link:hover {
  border-bottom: 2px solid #8f3434 ; 
}
.navbar-menu ::before {
  content: "";
  position: relative;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
} */

/* main */
body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.carousel {
  width: 100%;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}


.container {
  width: 80%;
  text-align: center;
  margin-top: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 20px;
  justify-items: center;
  align-items: stretch; 
}

.item {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item:hover {
  transform: scale(1.05);
}

.item img {
  width: 100%; 
  height: 130px;
  align-self: center;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.item p {
  font-size: 12px;
}

.container h1 {
  font-size: 36px; 
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8f3434;
  padding: 10px;
}

.footer__container {
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.footer__social {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  display: flex;
  justify-content: center;
}

.footer__social li {
  display: flex;
  align-items: center;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.footer__social svg {
  margin-right: 5px;
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}

.footer__social a {
  text-decoration: none;
  color: #ffffff;
}

.footer__social a:hover {
  color: #ffffff;
}

.footer__social li:hover {
  transform: scale(1.2);
}

.footer__social li:hover svg {
  transform: scale(1.2);
}
.footer__map {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}

.footer__map iframe {
  width: 100%;
  height: 200px;
  border: 0;
  border-radius: 10px;
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
  }
  
  .footer__social {
    margin-top: 10px;
  }
  
  .footer__social li {
    margin: 5px;
  }
}


  /*Marcas*/
  /* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para la sección de marcas */
.marcas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}
.Marcas :hover { 
  transform:  scale(1.0);
  transition: transform 0.3s ease;
}

/* Estilos para cada marca */
.marca-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.marca-info {
  margin-bottom: 20px;
 
}

.marca-logo {
  width: 100px;
  height: 100px;
  transform:  scale(1.2);
  transition: transform 0.3s ease;
}


h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0;

}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .marcas {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .marca-section {
    padding: 10px;
  }

  .marca-logo {
    width: 80px;
    height: 80px;
  }
  .marca-logo :hover {
    transform: scale(1.1);
  }

  h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  p {
    font-size: 12px;
  }
}
  /*Efecto de aparición*/
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .Marcas .marca-section:nth-child(1) {
    animation: fadeIn 0.5s forwards;
    animation-delay: 0.2s; 
  }
  
  .Marcas .marca-section:nth-child(2) {
    animation: fadeIn 0.5s forwards;
    animation-delay: 0.4s; 
  }
  
  .Marcas .marca-section:nth-child(3) {
    animation: fadeIn 0.5s forwards;
    animation-delay: 0.6s;  
  }
  
  .marca-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .marca-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  

  .Marcas h2, .Marcas h3 {
    margin: 0;
    text-align: center;
  }
  
  .Marcas p {
    margin-bottom: 20px;
  } */

/*Catalogo*/
body {
  background-color: rgb(236, 236, 236);
}
.catalogo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.catalogo-section {
  background-color: #f2f2f2;
  padding: 20px;
}

.catalogo-section h3 {
  margin-top: 0;
}

.cajas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.caja {
  position: relative;
  overflow: hidden;
}

.caja img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: opacity 0.3s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 10px;
}

.caja:hover .overlay {
  opacity: 1;
}

.overlay button {
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}
/*Contacto */
.contacto {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.banner {
  position: relative;
}
.luminous-effect {
  filter: brightness(150%);
}

.content-container {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 190px;
}

.form-container {
  width: 600px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 30px;
}

.form-row {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
  transform: scale(1.05);
}

button[type="submit"],
button[type="reset"] {
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
  background-color: #45a049;
}

textarea {
  resize: vertical;
}

.scroll-image {
  width: 800px;
  position: relative;
  top: 20px;
  margin-left: auto;
  margin-right: 20px;
}

.scroll-image img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


  /*Proximamente*/
  .proximamente { 
    background-color:rgb(97, 97, 97);
    padding: 10px;
    text-align: right;
  }

  .center {
    display: flex;
    justify-content: center;
  }